body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #151515;
}

.logo a {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #f6f0f0;
    text-decoration: none;
}

.main h3 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight: bold;
}

.main p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #131111;
}